/* VARIABLES*/
$color-primary:#9356DC;
$color-second:#FF79DA;
$color-tertiary:#99E2D0;
$color-btn:linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
$color-bkgfooter:#353535;
/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
}
/*BUTTON*/
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid;
    color: white;
    background: $color-btn;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover{
        transform: scale(1.05);
    }
}
.btn-pages{
    display: flex;
    justify-content: center;
}
.btn-var{
    margin-top: 20px;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid;
    color: white;
    background: $color-btn;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover{
        transform: scale(1.05);
    }
}

/*LOADING SPINNER*/
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 3s forwards;
}
@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }
}
.loader-spinner {
    border: 10px solid $color-primary;
    border-top: 10px solid $color-second;
    border-bottom: 10px solid $color-tertiary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spinner 3s linear forwards;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}
/*ACCUEIL*/
/*HEADER*/
.header{
    text-align: center;
    &-title{
        font-family: 'Shrikhand', cursive;
        padding: 0.5rem;
    }
    &-location{
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        background: #eaeaea;
        padding: 1rem;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        & i{
          margin-right: 10px;  
        }
    }
    &-info{
        padding: 2rem 1rem;
        font-family: 'Roboto', sans-serif;
        background: #f6f6f6;
        & p{
            margin-top: 20px;
            color: #6c6b6b;
            font-size: 17px;
        }
    }
}
/*FONCTION*/
.fonction{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    & h2{
        margin-bottom: 2rem;
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-step{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &-step p{
        background: $color-primary;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -10px;
        z-index: 1;
    }
    &-itext{
        width: 100%;
        background: white;
        font-weight: 600;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 2px 2px 6px 0px rgb(0, 0, 0 / 75%);
        &:hover{
            background: rgba($color-primary, $alpha: 0.25);
            & i{
                color: #9356DC;
            }
        }
        & span{
            margin-left: 25px;
        }
    }
}
@media screen and (min-width:1280px) {
    .fonction h2{
        text-align: center;
    }
    .fonction-list{
        flex-direction: row;
        justify-content: center;
    }
}
/*RESTAURANT*/
.restaurants{
    background: #eaeaea;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    & h2{
        margin-bottom: 20px;
    }
    &-cards{
        border-radius: 20px;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
        position: relative;
        min-width: 300px;
        background: white;
        &:hover{
            transform: scale(1.01);
            box-shadow: 2px 2px 6px 0px $color-primary;
        }
    }
    &-news{
        position: absolute;
        top: 20px;
        right: 15px;
        background: $color-tertiary;
        padding: 5px 10px;
        border-radius: 2px;
        color: #008766;
    }
    &-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        & img{
            object-fit: cover;
            width: 100%;
            border-radius: 20px 20px 0 0;
            max-height: 205px;
        }
    }
    &-text{
        padding: 0.8rem;
        & h3{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    .empty{
        position: absolute;
        right: 13px;
        &:hover{
            opacity: 0;
        }
    }
    .full{
        opacity: 0;
        &:hover{
            opacity: 1;
            background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
            color: transparent;
            -webkit-background-clip: text;
            animation: fill 0.5s ease forwards;
            transform: scale(1.15);
        }
    }  
}
@keyframes fill {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (min-width:1280px) {
    .restaurants-container{
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .restaurants-cards{
        width: 49%;
    }
}
/*FOOTER*/
.footer{
    background: $color-bkgfooter;
    color: white;
    padding: 1rem 2rem;
    &-text{
        margin-left: 7px;
    }
    & p{
        font-family:'Shrikhand', cursive;
        margin-bottom: 1rem;
    }
    & ul{
        font-family: 'Roboto', sans-serif;
    }
    & li{
        padding: 0.5rem 0;
    }
    & li i{
        margin-right: 5px;
    }
    & li a:hover{
        color: $color-tertiary;
        text-decoration:underline;
    }
}
@media screen and (min-width:1280px) {
    .footer p{
        text-align: center;
        font-size: 1.5rem;
    }
    .footer ul{
        display: flex;
        justify-content: space-around;
    }
}

/*PAGERESTAURANTS*/
/*HEADER*/
.headerrest{
    font-family:'Shrikhand', cursive;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    & h1{
        margin: 0 auto;
    }
}
/*MAINRESTAURANTS*/
.mainrest{
    display: flex;
    flex-direction: column;
    & img{
        object-fit: cover;
        max-height: 250px;
    }
    &-menu{
        padding: 1rem 1.5rem;
        border-radius: 30px 30px 0 0;
        background: #eaeaea;
        margin-top: -30px;
    }
    & h2{
        font-family:'Shrikhand', cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        & i:hover{
            font-weight: 600;
            animation: fill 1s linear forwards;
            color: #d46bdb;
        }
    }
    & span{
        font-family: 'Roboto', sans-serif;
    }
    &-line{
        height: 3px;
        width: 40px;
        background: $color-tertiary;
    }
    &-box{
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        margin-bottom: 20px;
    }
    &-food{
        display: flex;
        flex-direction: column;
        padding: 0.6rem;
        background: white;
        border-radius: 20px;
        height: 72px;
        &:hover{
            cursor: pointer;
            .slidebox{
                visibility: initial;
                width: 50px;
            }
            & strong{
                transform: translateX(-170%);
            }
            & i{
                animation: rotateicon 0.5s ease-in-out forwards;
            }   
        }
        & strong{
            transition: 0.5s linear;
        }
        & p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-overflow: ellipsis;
        }  
    }
    .slidebox{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-tertiary;
        position: absolute;
        height: 72px;
        width: 0%;
        border-radius: 0 20px 20px 0;
        margin-block-start: -10px;
        right: 24px;
        transition: 0.5s linear;
        visibility: hidden;
        & i{
            color: white;
            border-radius: 50%;
            font-size: 1.5rem;
            overflow:hidden;
        }
    }
    @keyframes rotateicon {
        0%{
            transform: rotate(270deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    .mf1{
        animation: fadein 1s ease-in-out forwards;
    }
    .mf2{
        animation: fadein 2s ease-in-out forwards;
    }
    .mf3{
        animation: fadein 3s ease-in-out forwards;
    }
    .mf4{
        animation: fadein 4s ease-in-out forwards;
    }
}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}